@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #415e07;
  font-family: var(--font-libre), Georgia, serif;
}

h1,
h2,
h3 {
  font-family: var(--font-playfair), Georgia, serif;
  color: #a27946;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}
